.dark-theme{
  background: black;
  color: #fff
}


.light-theme{
  background: white;
  color: #000;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

.side-body::-webkit-scrollbar{
  width: 8px;
  overflow-x: hidden;
}

.side-body:hover::-webkit-scrollbar-thumb{
  background: rgb(148, 146, 146); 
  
}
.side-body:hover::-webkit-scrollbar{
  width: 8px;
}

.side-body::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 10px;
}

.video-body::-webkit-scrollbar{
  width: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* .video-body::-webkit-scrollbar-track{
  background: rgb(214, 206, 206); 
} */
.video-body::-webkit-scrollbar-thumb{
  background: rgb(148, 146, 146); 
  border-radius: 10px;
}

.body{
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.header{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

.first-main{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 2;
}

.icon-bar{
  display: flex;
  cursor: pointer;
}

.icon-bar img{
  height: 30px;
  width: 29px;
}

.youtube-icon{
  margin-left: 15px;
  width: 180px;
  height: 80px;
  display: flex;
  cursor: pointer;
}

.youtube-icon p{
  margin: 20px 0 0 -12px;
  font-family: Roboto;
  font-size: 11px;
  color: rgb(97, 95, 95);
}

.input-div{
  flex: 6;
  display: flex;
  font-family: inherit;
  align-items: center;
  justify-content: center;
}

.parent_search{
  display: flex;
  justify-content: center;
  width: clamp(100px, 100%, 600px);
  height: 38px;
  border-radius: 100px;
  background-color: #f2f2f2;
  border: 1.5px solid rgb(202, 202, 202);
}

.search-bar{
  flex: 9;
  display: flex;
  justify-content: center;
  /* border-top-left-radius: 100px;
  border-bottom-left-radius: 100px; */
}


.search-bar input{
  width: -webkit-fill-available;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(202, 202, 202);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  font-style: inherit;
  padding-left: 15px;
}
.search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
}

.search-icon img{
  height: 20px;
  width: 20px;
}

/* .search-bar input:focus{
  outline: none;
} */

  /* .hidden-search{
    width: 15px;
    height: 15px;
    align-self: center;
    margin: 0 10px;
    display: block;
  } */

.mike-icon{
  width: 40px;
  height: 40px;
  display: flex;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f2f2f2;
  align-items: center;
  justify-content: center;
}

.mike-icon img{
  width: 12px;
  height: 20px;
}

.mike-icon:hover{
  background-color: #d1cece;
}



.icon-div{
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-video{
  height: 22px;
  display: flex;
  cursor: pointer;
  margin-left: 90px;
}

.bell-icon{
  height: 27px;
  display: flex;
  cursor: pointer;
  margin-left: 30px;
}

.email-pic{
  display: flex;
  margin-left: 30px;
  cursor: pointer;
}

.email-pic img{
  height: 33px;
  width: 33px;
  border-radius: 50%;
}





.main-body{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.buttons::-webkit-scrollbar{
  overflow-x: hidden;
  overflow-y: hidden;
}

.buttons{
  padding: 0 10px;
  overflow-x: scroll;
  background-color: #ffffff;
  height: 65px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(0, 0, 0);
  border-top: 1px solid rgb(202, 202, 202);
  box-shadow: 2px 2px 2px rgb(222, 226, 227);
}

.btn-1:hover{
  background-color: #d1cece;
}



.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 7%;
}
.video-body{
  flex: 5;
  overflow: scroll;
}

.video_1{
  height: 300px;
  width: 350px;
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
}

.video_child{
  flex: 2;
}

.caption_child{
  display: flex;
  flex:1;
  margin-top: 7px;
}

.caption_img{
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.caption_content{
  display: flex;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  flex-direction: column;
  gap: 4px;
  flex: 4;
  position: relative;
  cursor: pointer;
}

.three_dots{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18px;
  width: 10px;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10px;
  display: none;
  cursor: pointer;
}

.three_dots div{
  height: 3px;
  width: 3px;
  background-color: #000;
  border-radius: 100%;
}

.caption_content:hover .three_dots{
  display: flex;
}




.side-body{
  flex: 0.9;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  padding-bottom: 50px;
}

.option-1{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 300;
  word-spacing: inherit;
  line-height: normal;
  /* border-bottom: 1px solid rgb(220, 214, 214); */
}

.first-row{
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  cursor: pointer;
  gap: 20px;
  margin-left: 10px;
  border-radius: 10px;
  width: 90%;
}

.first-row:hover{
  background-color: #f1f1f1;
}

.home-icon {
  display: flex;
  justify-content: center;
  /* height: inherit; */
}

.second-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.second-row:hover{
  background-color: #d1cece;
}

.explore-icon{
  display: flex;
  margin-left: 27px;
  margin-right: 25px;
  height: 23px;
}

.third-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.third-row:hover{
  background-color: #d1cece;
}

.short-icon{
  display: flex;
  margin-left: 18px;
  margin-right: 15px;
  height: 40px;

}

.forth-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.forth-row:hover{
  background-color: #d1cece;
}

.subscrib-icon{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.option-2{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 300;
  word-spacing: inherit;
  line-height: normal;
  border-bottom: 1px solid rgb(220, 214, 214);
}

.fifth-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fifth-row:hover{
  background-color: #d1cece;
}

.library-icon{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.sixed-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sixed-row:hover{
  background-color: #d1cece;
}

.history-icon{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.seven-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.seven-row:hover{
  background-color: #d1cece;
}

.watchlater-icon{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.eight-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eight-row:hover{
  background-color: #d1cece;
}

.thumb-icon{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}



.option-3{
  display: flex;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 300;
  word-spacing: inherit;
  line-height: normal;
  border-bottom: 1px solid rgb(220, 214, 214);
}

.subs-heading{
  text-transform: uppercase;
  margin-left: 25px;
  color: #6b6868;
  font-weight: 700;
}

.nine-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nine-row:hover{
  background-color: #d1cece;
}

.subscirb-1 img{
  margin-left: 26px;
  margin-right: 22px;
  height: 28px;
  border-radius: 50%;
}

.ten-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ten-row:hover{
  background-color: #d1cece;
}


.subscirb-2 img{
  margin-left: 26px;
  margin-right: 22px;
  height: 28px;
  border-radius: 50%;
}

.eleven-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eleven-row:hover{
  background-color: #d1cece;
}

.subscirb-3 img{
  margin-left: 26px;
  margin-right: 22px;
  height: 28px;
  border-radius: 50%;
}

.twelve-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.twelve-row:hover{
  background-color: #d1cece;
}

.subscirb-4 img{
  margin-left: 26px;
  margin-right: 22px;
  height: 28px;
  border-radius: 50%;
}

.thirteen-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.thirteen-row:hover{
  background-color: #d1cece;
}

.subscirb-5 img{
  margin-left: 26px;
  margin-right: 22px;
  height: 28px;
  border-radius: 50%;
}

.forteen-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.forteen-row:hover{
  background-color: #d1cece;
}

.subscirb-6 img{
  margin-left: 26px;
  margin-right: 22px;
  height: 28px;
  border-radius: 50%;
}

.option-4{
  display: flex;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 300;
  word-spacing: inherit;
  line-height: normal;
  border-bottom: 1px solid rgb(220, 214, 214);
}

.explor-heading{
  text-transform: uppercase;
  margin-left: 25px;
  font-weight: 700;
}

.fiftheen-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fiftheen-row:hover{
  background-color: #d1cece;
}

.explor-1{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.sixtheen-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sixtheen-row:hover{
  background-color: #d1cece;
}

.explor-2{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.option-5{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 300;
  word-spacing: inherit;
  line-height: normal;
}

.other-youtube{
  text-transform: uppercase;
  margin-left: 25px;
  font-weight: 700;
}

.five-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.five-row:hover{
  background-color: #d1cece;
}

.five-icon{
  display: flex;
  justify-content: center;
  height: 30px;
}

.eighteen-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.eighteen-row:hover{
  background-color: #d1cece;
}

.youtube-other2{
  display: flex;
  margin-left: 17px;
  margin-right: 14px;
  height: 23px;
}

.ninteen-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ninteen-row:hover{
  background-color: #d1cece;
}

.youtube-other3{
  display: flex;
  margin-left: 24px;
  margin-right: 19px;
  height: 28px;
}

.twenty-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twenty-row:hover{
  background-color: #d1cece;
}

.youtube-other4{
  display: flex;
  margin-left: 24px;
  margin-right: 17px;
  height: 30px;
}

.option-6{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 300;
  word-spacing: inherit;
  line-height: normal;
  border-bottom: 1px solid rgb(220, 214, 214);
}

.twenty1-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twenty1-row:hover{
  background-color: #d1cece;
}

.setting{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.twenty2-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twenty2-row:hover{
  background-color: #d1cece;
}

.report{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.twenty3-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twenty3-row:hover{
  background-color: #d1cece;
}

.help{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}

.twenty4-row{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twenty4-row:hover{
  background-color: #d1cece;
}

.feedback{
  display: flex;
  margin-left: 26px;
  margin-right: 22px;
  height: 25px;
}